// src/styles.scss
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Estilos globales básicos */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Contenedores */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Espaciados */
.mt-4 {
    margin-top: 1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}